SERVER_NAME=Google Maps
SERVER_HOST=http://127.0.0.1:7000
PROJECT_NAME=Gmaps
DOMAIN_ADDRESS=https://projectdim.org
EMAILS_ENABLED=False
OTP_EXPIRE_MINUTES=15
OTP_HOUR_RATE_LIMIT=5
ENV_TYPE=test

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=gmaps

# Super-admin data
SUPERUSER_EMAIL=admin@admin.com
SUPERUSER_PASSWORD=asd112233

# Test-user data ( You can leave it blank and it will be filled with a default value )
TEST_USER_EMAIL=test@test.com
TEST_USER_PASSWORD=asd112233
TEST_USER_PHONENUM=+380638773140

# AWS
AWS_PROFILE=aws profile here
AMAZON_APP_ID=amazon app id here

# API_KEYS
GMAPS_APIKEY=google api key here